Package: ngrok-adb
Version: 1.0
Architecture: aarch64
Maintainer: Codeon314
Depends: wget, proot, tar
Description: ngrok-adb package for Termux - Tool for exposing local adb servers behind NATs and firewalls to the public internet over secure ngrok tunnels.